---
layout: default
title: Страница не найдена
permalink: /404.html
---

<div class="not-found-container">
    <h1>404</h1>
    <p>Кажется, вы заблудились в Царстве Снов. Такой страницы не существует.</p>
    <a href="{{ "/" | relative_url }}" class="btn-back-home">Вернуться на главную</a>
</div> 