---
layout: default
---

<main class="page-container" role="main">
  {{ content }}

  <div class="page-actions">
    <a class="btn-back-home" onclick="history.back();">
      Вернуться назад
    </a>
  </div>
</main>
